.container {
  width: 98vw;
}

h1, p, #search-form {
  text-align: center;
}

img {
  display: block;
  margin: auto;
}

h1 {
  font-size: 9em;
  margin-bottom: 0.2em;
}

p {
  font-size: 1.5em;
}

#search-bar {
  width: 40%;
  font-size: 2em;
}

.autocomplete-box {
    margin-left: 26.5%;
    width: 40%;
    text-align: center;
    border: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}

#search-button {
  font-size: 2em;
}
